.container-module-info{
    display: flex;
    gap:20px;
}
.module-info{
    width:120vmax;
    height: 660px;
}
.module-name{
    padding-left: 3vw;
    font-family: 'Space Grotesk';
    margin-bottom: 10px;
    margin-top: 30px;

}
.module-exp{
    font-family: 'Roboto Mono', sans-serif;
    padding-left: 3vw;
        margin-bottom: 10px;

}
.Resources{
    padding-left: 3vw;
    font-family:'poppins', sans-serif;
    font-weight: 400;
        margin-bottom: 10px;

}

#choose-specialty-text{
    text-align: center;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 1.2rem;
    text-decoration: underline;
}

#choose-module-text{
    text-align: center;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 1.2rem;
    text-decoration: underline;
}


.module-description{
    font-family: 'Roboto Mono', sans-serif;
    margin-left: 50px;
}

.module-coe{
    font-family: 'Roboto Mono', sans-serif;
    color: white;
    font-weight: 600;
}


.module-coe-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 160px;
    margin-left: 50px;
    border: 1px solid rgb(50, 135, 245);
    border-radius: 50px;
    background-color: rgb(50, 135, 245);
}


@media (max-width: 900px) and (min-width: 501px) {
    .container-module-info {
        flex-direction: column;
        gap: 10px;
    }

    .contribute-component {
        height: 100%;
        padding-left: 2vw;
        margin: 30px 0px;
        display: flex;
        justify-content: center;
    }
    .module-info {
        width: 100vw;
        height: auto;
    }
    .module-name,
    .module-exp,
    .Resources {
        padding-left: 4vw;
        padding-right: 4vw;
        margin-bottom: 20px;
    }

    .module-name{
        margin-top: 10px;
    }
    
}

@media (max-width: 500px) {
    
    .contribute-component {
        height: 100%;
        margin: 30px 0px;
        display: flex;
        justify-content: center;
    }

    .module-name{
        font-size: 1.5rem;
        padding-left: 2vw;
    }

    .module-description{
        font-size: 1rem;
    }

    .module-coe-container{
        margin-left: 4vw;
    }
    
}