@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


.about-container {
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
    font-family: "Roboto mono", sans-serif;
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 50px;
}



#text-v{
    font-size: 2rem;
    opacity: 0;
}

#About-title{
    color: #000;
    text-align: center;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: 3rem;
}

#about-paragraph{
    color: #000;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0 100px;
    line-height: 2.5;
}

#bold-vertex-about{
    font-weight: 600;
}

#text-span-about{
    color: #2F94F9;
    font-weight: 600;
}


@media (max-width: 900px){
    .about-container {
        padding: 20px;
        width: 100%;
    }

    #About-title {
        font-size: 2.5rem;
    }

    #about-paragraph {
        font-size: 1rem;
        padding: 0 20px;
    }
}


@media (max-width: 600px) {
    #About-title {
        font-size: 2rem;
    }

    #about-paragraph {
        font-size: 0.9rem;
        padding: 0 10px;
    }
}

@media (max-width : 390px){
    #About-title{
        font-size: 1.7rem;
    }
    #about-paragraph{
        font-size: 0.8rem;

    }
}