.contribute-container1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
    border: 2px solid #b7b5b5;
    background-color: rgba(241, 240, 240, 0.75);
    padding: 20px;
    margin-bottom: 50PX;
}
.contribute-title{
    font-size: 1.2rem;
    font-weight: 500;
    user-select: none;
    font-family: 'Roboto mono', sans-serif;
    padding-left: 10px;
}
.contribute-text{
    font-weight: 200;
    color: #282828;
    font-family: 'Poppins', sans-serif;
    margin-left: 10px;
}
.contribute-highlight{
    color:rgb(37, 161, 250);
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 500px) {
    .contribute-container1{
        padding: 10px;
        margin-left: 0;
        display: flex;
    }
    .contribute-title{
        font-size: 0.8rem;
        margin-bottom: 5px;
    }
    .contribute-text {
        font-size: 0.6rem ;
    }
}

@media (max-width: 900px )and( min-width: 501px) {
    .contribute-container1{
        padding: 0px;
        width: 60% !important;

    }
    .contribute-title{
        font-size: 1rem;
    }
    .contribute-text {
        font-size: 0.9rem;
    }
}