@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

.hero-container {
  width: 100%;
  height: 100vh;
  background-color: #e7eef4;
  font-family: "Roboto mono", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
}

.hero-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 800px;
  text-align: center;
  position: relative;
}

.hero-navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.hero-title {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 4rem;
  text-align: center;
  z-index: 2;
  width: 100%;
}

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
  
}

.hero-btn {
  background-color: #ffffff;
  color: #000;
  border: 1px dashed black;
  height: 50px;
  width: 200px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  position: absolute;
  z-index: 1;
  border-radius: 3px;
  opacity: 0;
  transform: translateY(-90px);
}

.hero-btn::after {
  content: "Contribute";
  font-weight: 500;
  position: absolute;
  text-align: center;
  align-content: center;
  top: 5px;
  left: 5px;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border: 1px solid black;
  z-index: -1;
  transition: top 0.2s ease, left 0.2s ease, border 0.2s ease, background-color 0.1s ease;
  border-radius: 3px;
}

.hero-btn:hover::after {
  top: 0;
  left: 0;
  border: 1px solid black;
}

.hero-btn:hover {
  border: none;
  background-color: transparent;
}

.hero-note {
  color: rgba(0, 0, 0, 0.548);
  font-size: 0.6rem;
  max-width: 600px;
}

#hero-paragraph {
  font-size: 1.1rem;
  max-width: 600px;
}

@media (max-width: 900px) {
  .hero-container {
    padding: 40px;
  }

  #hero-title {
    font-size: 1.8rem;
  }

  #hero-paragraph {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  #hero-title {
    font-size: 1.3rem;
  }

  #hero-paragraph {
    font-size: 0.95rem;
  }

  .hero-note {
    font-size: 0.5rem;
  }

  .hero-btn {
    width: 60%;
    font-size: 0.95rem;
    height: 40px;
  }
}
